@import '../../styles/colors.scss';
@import '/styles/breakpoints.scss';

.headerContainer {
  background-image: url('/images/header-bg-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 140px;
  width: 100%;
  position: fixed;
  z-index: 1002;
  top: 0;
  background-position: top;
  background-size: auto;
  background-position-y: -20px;

  @media screen and (max-width: $mobile) {
    background-size: cover;
    height: 90px;
  }
}
