@import "/styles/colors.scss";


.navbarContainer{
    display: grid;
    grid-template-columns: [nav-left] 100px [nav-center] 1fr [nav-right] 100px;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid $color-secondary;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    z-index: 2;


    .siteLogo{
        grid-column-start: nav-center;
        justify-self: center;
        color: white;
    }
    
}