$color-primary: #45afff;
$color-primary-contrast: #10233f;

$color-secondary: #eed7e7;
$color-secondary-contrast: #b37b8a;

$color-tertiary: #bfc5dc;
$color-tertiary-contrast: #5b6177;

$color-off-white: #f2e8dc;
